services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./ssl/fullchain.pem:/etc/nginx/ssl/fullchain.pem:ro
      - ./ssl/privkey.key:/etc/nginx/ssl/privkey.key:ro
      - /var/www/html:/var/www/html:ro
    networks:
      - bot_network

networks:
  bot_network:
    external: true
    driver: bridge
